workflow.json
{"name":"Salón de Belleza - Sistema Completo","nodes":[{"parameters":{"updates":["messages"],"options":{}},"id":"f7b8cf85-ddc1-4444-bd62-5b2dc1a405e1","name":"WhatsApp Trigger","type":"n8n-nodes-base.whatsAppTrigger","typeVersion":1,"position":[0,0],"webhookId":"069e9e90-d4d3-4743-a564-a75c5af97388"},{"parameters":{"jsCode":"// Código para procesar los datos del webhook\nconst inputData = items[0].json;\n\n// Extraer información del webhook de WhatsApp\nconst messageData = inputData.entry?.[0]?.changes?.[0]?.value?.messages?.[0];\n\nif (!messageData) {\n  return {\n    json: {\n      error: true,\n      message: \"No message data found\",\n      debugInfo: { receivedData: inputData },\n      timestamp: new Date().toISOString()\n    }\n  };\n}\n\n// Extraer datos relevantes\nconst messageInfo = {\n  messageId: messageData.id,\n  messageContent: messageData.text?.body || \"\",\n  timestamp: messageData.timestamp,\n  type: messageData.type\n};\n\nconst contactInfo = {\n  whatsappNumber: messageData.from,\n  name: inputData.entry?.[0]?.changes?.[0]?.value?.contacts?.[0]?.profile?.name || \"Cliente\"\n};\n\n// Retornar la estructura procesada\nreturn {\n  json: {\n    messageInfo,\n    contactInfo,\n    error: false,\n    timestamp: new Date().toISOString(),\n    debugInfo: { receivedData: inputData }\n  }\n};"},"id":"5fe82922-1522-47bb-b038-b9a1a0e4dda8","name":"Procesar Mensaje","type":"n8n-nodes-base.code","typeVersion":2,"position":[220,0]},{"parameters":{"model":{"mode":"list","value":"gpt-4"},"options":{"temperature":0.2}},"id":"5853d1a6-826b-4bdd-b5db-677ea7fbe6b2","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[220,220]},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Procesar Mensaje').item.json.contactInfo.whatsappNumber }}"},"id":"67f63786-6c32-4d1c-8a45-529476183bc7","name":"Memoria Cliente","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[400,220]},{"parameters":{"systemMessage":"Eres un asistente virtual para un salón de belleza. Tu función es ayudar a los clientes a agendar, modificar o cancelar citas, así como responder preguntas sobre los servicios disponibles.\n\nServicios disponibles:\n- Corte de cabello (1 hora, $30)\n- Tinte (2 horas, $60)\n- Manicure (45 min, $25)\n- Pedicure (1 hora, $35)\n- Tratamiento facial (1 hora, $45)\n\nHorario del salón:\n- Lunes a Viernes: 9:00 AM - 7:00 PM\n- Sábado: 9:00 AM - 5:00 PM\n- Domingo: Cerrado\n\nComandos disponibles:\n1. calendar_list: Verificar disponibilidad\n   - timeMin: fecha/hora inicio\n   - timeMax: fecha/hora fin\n\n2. calendar_create: Crear cita\n   - summary: servicio\n   - description: detalles\n   - start: fecha/hora inicio\n   - end: fecha/hora fin\n   - attendees: [correo]\n\n3. calendar_update: Modificar cita\n   - eventId: ID de la cita\n   - [campos a actualizar]\n\n4. calendar_delete: Cancelar cita\n   - eventId: ID de la cita\n\n5. sheets_get: Obtener info cliente\n   - phone: número WhatsApp\n\n6. sheets_append: Registrar cliente\n   - name: nombre\n   - phone: WhatsApp\n   - email: correo\n\n7. sheets_update: Actualizar cliente\n   - phone: WhatsApp\n   - [campos a actualizar]\n\n8. sheets_find: Buscar cliente\n   - query: texto búsqueda\n\nReglas importantes:\n1. Siempre verifica disponibilidad antes de crear citas\n2. No agendar fuera del horario del salón\n3. Responder en formato JSON con la estructura:\n{\n  \"command\": string,\n  \"parameters\": object,\n  \"message\": string\n}\n\nSi el horario solicitado no está disponible o está fuera del horario del salón, responde con message explicando la situación y sugiriendo alternativas.","humanMessage":"={{ $('Procesar Mensaje').item.json.messageInfo.messageContent }}","memory":"={{ $('Memoria Cliente') }}","model":"={{ $('OpenAI Chat Model') }}"},"id":"a1b2c3d4-e5f6-7890-a1b2-c3d4e5f67890","name":"AI Asistente","type":"@n8n/n8n-nodes-langchain.chainAgent","typeVersion":1.0,"position":[600,220]},{"parameters":{"operation":"sendMessage","messageType":"text","recipientType":"individual","to":"={{ $('Procesar Mensaje').item.json.contactInfo.whatsappNumber }}","text":"={{ $('AI Asistente').item.json.message }}"},"id":"12345678-90ab-cdef-1234-567890abcdef","name":"WhatsApp","type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[800,220]},{"parameters":{"resource":"calendar","operation":"list","calendar":"Peluqueria","timeMin":"={{ $json.parameters.timeMin }}","timeMax":"={{ $json.parameters.timeMax }}","singleEvents":true,"orderBy":"startTime"},"id":"calendar1","name":"Google Calendar","type":"n8n-nodes-base.googleCalendar","typeVersion":3,"position":[800,0],"credentials":{"googleCalendarOAuth2Api":{"id":"123","name":"Google Calendar account"}}},{"parameters":{"resource":"spreadsheet","operation":"append","sheetName":"Clientes","range":"A:D","options":{"valueInputMode":"RAW"},"dataMode":"autoMap"},"id":"sheets1","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[800,440],"credentials":{"googleSheetsOAuth2Api":{"id":"456","name":"Google Sheets account"}}}],"connections":{"WhatsApp Trigger":{"main":[[{"node":"Procesar Mensaje","type":"main","index":0}]]},"Procesar Mensaje":{"main":[[{"node":"AI Asistente","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Asistente","type":"ai_languageModel","index":0}]]},"Memoria Cliente":{"ai_memory":[[{"node":"AI Asistente","type":"ai_memory","index":0}]]},"AI Asistente":{"main":[[{"node":"WhatsApp","type":"main","index":0}]]},"Google Calendar":{"main":[[{"node":"AI Asistente","type":"main","index":1}]]},"Google Sheets":{"main":[[{"node":"AI Asistente","type":"main","index":2}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"none"}}